<%- include('./partials/header.ejs') %> 
<h1>Add Joyas</h1>
<form method="post" enctype="multipart/form-data">
  <label class="form-label">Producto</label>
  <input type="text" class="form-control" name="producto" id="title" value="<%= joyas.producto %>" />
  
  <label>Piedras</label>
  <input type="text" class="form-control" name="piedras" id="author" value="<%= joyas.piedras %>" />
  
  <label>=Material</label>
  <input type="number" class="form-control" name="material" id="year_written" value="<%= joyas.material %>" />
  
  <label>Foto del producto</label>
  <input type="number" class="form-control" name="imagen" id="price" value="<%= joyas.imagen %>" />
  
  <label>Fecha de carga</label>
  <input type="date" class="form-control" name="fechaDeCarga" id="created_at" value="<%= joyas.fechaDeCarga %>" />

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<%- include('./partials/footer.ejs') %>