<%- include('./partials/header.ejs') %> 
<h1>Add Joyas</h1>
<form method="post" enctype="multipart/form-data">
  <label class="form-label">Title</label>
  <input type="text" class="form-control" name="title" id="title" value="<%= book.title %>" />
  
  <label>Author</label>
  <input type="text" class="form-control" name="author" id="author" value="<%= book.author %>" />
  
  <label>Publication year</label>
  <input type="number" class="form-control" name="year_written" id="year_written" value="<%= book.year_written %>" />
  
  <label>Price</label>
  <input type="number" class="form-control" name="price" id="price" value="<%= book.price %>" />
  
  <label>Created at</label>
  <input type="date" class="form-control" name="created_at" id="created_at" value="<%= book.created_at %>" />

  <label>Cover</label>
  <input type="file" class="form-control" name="cover" id="cover" />
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<%- include('./partials/footer.ejs') %>