 <%- include('./partials/head') %> 

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado.ejs') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form>
				<div class="mb-3">
				  <label for="exampleInputEmail1" class="form-label">Imágen producto</label>
				  <input type="file" class="form-control" id="exampleInputEmail1">
				</div>
				<div class="mb-3">
				  <label for="exampleInputPassword1" class="form-label"><%= joyas[i].producto %></label>
				  <input type="text" class="form-control" id="exampleInputPassword1">
				</div>
				<div class="mb-3 form-check">
				  <input type="text" class="form-check-input" id="exampleCheck1">
				  <label class="form-check-label" for="exampleCheck1"><%= joyas[i].material %></label>
				</div>
				<div class="mb-3 form-check">
					<input type="date" class="form-check-input" id="exampleCheck1">
					<label class="form-check-label" for="exampleCheck1">Fecha de carga</label>
				  </div>
				<button type="submit" class="btn btn-primary">Submit</button>
			  </form>		



<!-- footer -->
<%- include('./partials/footer.ejs') %>
<!-- /footer -->

</body>

</html>