<%- include('./partials/head') %>

<body class="bodyProducts">
	<!-- Header -->
	<% if (locals.user) { %>
	<%- include('./partials/headerLogueado.ejs') %>
	<% } else{ %>
	<%- include('./partials/header.ejs') %>
	<% } %>
	<!-- /Header -->

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">

			<h2 class="products-title"><%= joyas.producto %></h2>
				<p class="product-detail-description">
				<a href="/product/<%= joyas.id %>/edit">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%= joyas.imagen %> " alt="" class="product-detail-img">
					<p class="product-detail-description">
						Material: <%= joyas.material %>
					</p>
					<p class="product-detail-description">
						Piedras: <%= joyas.piedras %>
					</p>
					<p class="product-detail-description">
						Fecha de carga: <%= joyas.createdAt %>
					</p>
					<p class="product-detail-description">
						Subido por: <a href="/profile/id/<%=joyas.usuario.id %>"> <%= joyas.usuario.nombre %></a> 
					</p>

		
					
					<% if (locals.user && user.id == joyas.usuario_id) { %>
						<form action="/product/id/<%= joyas.id %>/delete" method="POST">
						  <input class="btn btn-danger" type="submit" value="Borrar">
						</form>
					  <% } %> 
				</article>
				<div class="col-12 col-lg-4">
					<h2>Comentarios</h2>
					<% for( let i = 0; i < joyas.comentarios.length; i++) { %>
					<div class="card mb-2">
						<div class="card-body">
							<img src="<%= joyas.comentarios[i].user.fotoDePerfil %> " alt="" class="foto-comentario">
							<b><a href="/profile/id/<%= joyas.comentarios[i].user.id %>"><%= joyas.comentarios[i].user.nombre %></a></b>
							<%= joyas.comentarios[i].comentario %>
							<br></br>
							
							
						</div>
						
					</div>


					<%}%>

					<form class="form" action="/product/<%= joyas.id %>/comment" method="POST">
					<input class="form-input" type="text" value="" name="comentario" id="comentario" placeholder="Agregar comentario">
					<button type="submit" class="buy-now-button" >AGREGAR
						COMENTARIO</button>
					</form>
				</div>
			</div>


		</div>

		<!-- /product detail -->


		<!-- footer -->
		<%- include('./partials/footer.ejs') %>
		<!-- /footer -->

</body>

</html>