<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado.ejs') %>
	<!-- /Header -->
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= joyas.producto %></h2>
			<p class="product-detail-description">
				<a href="/product/id/0"-add">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%= joyas.imagen %> " alt="" class="product-detail-img">
					<p class="product-detail-description">
						Material: <%= joyas.material %>
					</p>
					<p class="product-detail-description">
						Precio: $<%= joyas.precio %>
					</p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for( let i = 0; i < comentarios.length; i++ ) { %>
							<article>
								<img src="<%= comentarios[i].fotoperfil %> " alt="">
								<div class="data">
									<p class="user">
										<strong> <a href="/profile"> <%= comentarios[i].usuario %> </strong>
										<%= comentarios[i].comentario %> 
									</p>
								</div>
							</article>
						<% } %>
						

				</section>
				<form class="form" action="" method="POST">
					<input class="form-input" type="text" value="" placeholder="Agregar comentario">
					<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
				</form>
				<hr>
			</div>
		</div>
	</div>
	</div>
	<!-- /product detail -->


	<!-- footer -->
	<%- include('./partials/footer.ejs') %>
	<!-- /footer -->

</body>

</html>