<%- include('./partials/head') %>

<body class="bodyProducts">
	<!-- Header -->
	<% if (locals.user) { %>
	<%- include('./partials/headerLogueado.ejs') %>
	<% } else{ %>
	<%- include('./partials/header.ejs') %>
	<% } %>
	<!-- /Header -->

	<!-- Novedades  ,-->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>

			<section class="form-login">
				<article class="formulario">
					<form action="/profile/edit/<%= usuario.id %> " method="POST" enctype="multipart/form-data">
						<div class="form-group">
							<label class="form-texto-arriba">Correo electrónico</label>
							<input type="email" class="form-control" id="email" name="email"
								aria-describedby="emailHelp" placeholder="example@email.com" value="<%= usuario.email %>">

						</div>
						<div class="form-group">
							<label class="form-texto-arriba">Nombre de Usuario</label>
							<input type="text" class="form-control" id="nombre" name="nombre"
								placeholder="Creá tu nombre de usuario" value="<%= usuario.nombre %>"> 
						</div>
						<div class="form-group">
							<label class="form-texto-arriba">Contraseña</label>
							<input type="password" class="form-control" id="contrasena" name="contrasena"
								placeholder="*********">
						</div>
						<div class="form-group">
							<label class="form-texto-arriba">Fecha de nacimiento</label>
							<input type="date" class="form-control" id="fechaDeNacimiento" name="fechaDeNacimiento"
								placeholder="" value="<%= usuario.fechaDeNacimiento %>">
						</div>
						<div class="form-group">
							<label class="form-texto-arriba">Foto de perfil</label>
							<input type="file" class="form-control" id="fotoDePerfil" name="fotoDePerfil"
								placeholder="" value="<%= usuario.fotoDePerfil %>">
						</div>

						<button type="submit" class="btn-primary">Crear</button>
					</form>
				</article>
				<article class="foto-login">
					<img class="foto-lily" src="/images/karioregister.jpeg" alt="">
				</article>

			</section>

		</div>
	</div>


	<!-- footer -->
	<%- include('./partials/footer.ejs') %>
	<!-- /footer -->

</body>

</html>